<h1>Bienvenue sur The Gossip Project !!</h1>
	<p>Voici le dernier potin: </p>
	<p>Cree le <%=Potin.last.created_at%></p>
	<p>titre :</p><br>
	<%=Potin.last.title%><br>
	<p>Contenu:</p>
	<%=Potin.last.content%>
	<br><p>pour en voir plus connecte toi ci-dessous.</p>